In [2]:
pip --version

pip 21.1.3 from /opt/conda/lib/python3.9/site-packages/pip (python 3.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import streamlit as st
import pandas as pd

In [4]:
df = pd.read_csv('vehicles_us.csv')
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,6/23/18,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,10/19/18,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2/7/19,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,3/22/19,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,4/2/19,28

In [5]:
df.count()

price           51525
model_year      47906
model           51525
condition       51525
cylinders       46265
fuel            51525
odometer        43633
transmission    51525
type            51525
paint_color     42258
is_4wd          25572
date_posted     51525
days_listed     51525
dtype: int64

##### Filter the data below to see the ads by model

In [6]:
print(df.head(10))

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
5  14990      2014.0    chrysler 300  excellent        6.0  gas   57954.0
6  12990      2015.0    toyota camry  excellent        4.0  gas   79212.0
7  15990      2013.0     honda pilot  excellent        6.0  gas  109473.0
8  11500      2012.0     kia sorento  excellent        4.0  gas  104174.0
9   9200      2008.0     honda pilot  excellent        NaN  gas  147191.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0     6/23/18           19
1    automatic  pickup       white     1.0    10/19/18           50
2    automatic   sedan         red     NaN      2/7/19           79
3    automatic  pickup         NaN     NaN     3/22/19            9
4    automatic   sedan       black     NaN      4/2/19           28
5    automatic   sedan       black     1.0     6/20/18           15
6    automatic   sedan       white     NaN    12/27/18           73
7    automatic     SUV       black     1.0      1/7/19           68
8    automatic     SUV         NaN     1.0     7/16/18           19
9    automatic     SUV        blue     1.0     2/15/19           17

In [7]:
df['model'].unique()

array(['bmw x5', 'ford f-150', 'hyundai sonata', 'chrysler 200',
       'chrysler 300', 'toyota camry', 'honda pilot', 'kia sorento',
       'chevrolet silverado 1500', 'honda accord', 'ram 1500',
       'gmc yukon', 'jeep cherokee', 'chevrolet traverse',
       'hyundai elantra', 'chevrolet tahoe', 'toyota rav4',
       'chevrolet silverado', 'jeep wrangler', 'chevrolet malibu',
       'ford fusion se', 'chevrolet impala', 'chevrolet corvette',
       'jeep liberty', 'toyota camry le', 'nissan altima',
       'subaru outback', 'toyota highlander', 'dodge charger',
       'toyota tacoma', 'chevrolet equinox', 'nissan rogue',
       'mercedes-benz benze sprinter 2500', 'honda cr-v',
       'jeep grand cherokee', 'toyota 4runner', 'ford focus',
       'honda civic', 'kia soul', 'chevrolet colorado',
       'ford f150 supercrew cab xlt', 'chevrolet camaro lt coupe 2d',
       'chevrolet cruze', 'ford mustang', 'chevrolet silverado 3500hd',
       'nissan frontier crew cab sv', 'subaru impreza',
       'jeep grand cherokee laredo', 'nissan versa', 'ford f-250 sd',
       'chevrolet silverado 1500 crew', 'ford f250 super duty',
       'chevrolet camaro', 'ford mustang gt coupe 2d', 'subaru forester',
       'ford explorer', 'ford f-350 sd', 'ford edge', 'nissan maxima',
       'ford f-250', 'nissan sentra', 'ford f150', 'chevrolet suburban',
       'ford expedition', 'dodge grand caravan', 'ford taurus',
       'acura tl', 'ford f350 super duty', 'ford ranger', 'gmc sierra',
       'hyundai santa fe', 'ford escape', 'gmc sierra 2500hd',
       'honda civic lx', 'gmc sierra 1500', 'honda odyssey',
       'cadillac escalade', 'volkswagen jetta', 'toyota corolla',
       'chrysler town & country', 'volkswagen passat', 'toyota prius',
       'buick enclave', 'ford fusion', 'toyota tundra', 'ram 3500',
       'ram 2500', 'nissan frontier', 'chevrolet silverado 2500hd',
       'jeep wrangler unlimited', 'ford f-250 super duty', 'gmc acadia',
       'toyota sienna', 'ford focus se', 'ford f250', 'dodge dakota',
       'ford f350', 'chevrolet trailblazer', 'ford econoline',
       'nissan murano'], dtype=object)

In [8]:
df['model_year'].min()

1908.0

In [9]:
df['model_year'].max()

2019.0

In [30]:
year_min, year_max = (df['model_year'].min(),df['model_year'].max())
print(year_min, year_max)

1908 2019

In [11]:
print(df['model_year'].isnull())

0        False
1         True
2        False
3        False
4        False
         ...
51520    False
51521    False
51522    False
51523    False
51524    False
Name: model_year, Length: 51525, dtype: bool

In [12]:
df['model_year'] = pd.to_numeric(df['model_year'], errors = 'coerce')

In [13]:
df = df.dropna(subset=['model_year'])

In [14]:
df['model_year'] = df['model_year'].astype(int)

In [15]:
print(df['model_year'])

0        2011
2        2013
3        2003
4        2017
5        2014
         ...
51520    2013
51521    2002
51522    2009
51523    2013
51524    2014
Name: model_year, Length: 47906, dtype: int64

In [16]:
print(df['cylinders'].isnull())

0        False
2        False
3        False
4        False
5        False
         ...
51520    False
51521    False
51522    False
51523    False
51524    False
Name: cylinders, Length: 47906, dtype: bool

In [17]:
df['cylinders'] = pd.to_numeric(df['cylinders'], errors = 'coerce')

In [18]:
df = df.dropna(subset=['cylinders'])

In [19]:
df['cylinders'] = df['cylinders'].astype(int)

In [20]:
print(df['cylinders'])

0        6
2        4
3        8
4        4
5        6
        ..
51520    6
51521    4
51522    4
51523    4
51524    4
Name: cylinders, Length: 43009, dtype: int64

In [21]:
print(df['odometer'].isnull())

0        False
2        False
3         True
4        False
5        False
         ...
51520    False
51521    False
51522    False
51523    False
51524     True
Name: odometer, Length: 43009, dtype: bool

In [22]:
df['odometer'] = pd.to_numeric(df['odometer'], errors = 'coerce')

In [23]:
df = df.dropna(subset=['odometer'])

In [24]:
df['odometer'] = df['odometer'].astype(int)

In [25]:
print(df['odometer'])

0        145000
2        110000
4         80903
5         57954
6         79212
          ...
51518    110200
51520     88136
51521    181500
51522    128000
51523    139573
Name: odometer, Length: 36419, dtype: int64

In [26]:
print(df['paint_color'].isnull())

0         True
2        False
4        False
5        False
6        False
         ...
51518    False
51520    False
51521    False
51522    False
51523    False
Name: paint_color, Length: 36419, dtype: bool

In [27]:
df = df.dropna(subset=['paint_color'])

In [28]:
print(df['paint_color'])

2           red
4         black
5         black
6         white
7         black
          ...
51518    silver
51520     black
51521     white
51522      blue
51523     black
Name: paint_color, Length: 29916, dtype: object

In [ ]:

import streamlit as st
import pandas as pd
import plotly.express as px



df = pd.read_csv('cars.csv')

st.header('Market of used Cars')
st.write("""
##### Filter the data below to see the ads by model""")

df['model_year'] = pd.to_numeric(df['model_year'], errors = 'coerce')
df = df.dropna(subset=['model_year'])
df['model_year'] = df['model_year'].astype(int)

df['cylinders'] = pd.to_numeric(df['cylinders'], errors = 'coerce')
df = df.dropna(subset=['cylinders'])
df['cylinders'] = df['cylinders'].astype(int)

df['odometer'] = pd.to_numeric(df['odometer'], errors = 'coerce')
df = df.dropna(subset=['odometer'])
df['odometer'] = df['odometer'].astype(int)

df = df.dropna(subset=['paint_color'])

models = df['model'].unique()

name_models = st.selectbox('Select model:', models)


year_min, year_max = (df['model_year'].min(),df['model_year'].max())
year_range = st.slider("Choose years:",value=(year_min, year_max), min_value=year_min, max_value=year_max)

actual_range = list(range(year_range[0], year_range[1]+1))

filtered_df = df[(df['model']==name_models) & (df.model_year.isin(actual_range))]

st.table(filtered_df.head(100))


st.header('Price Comparison')
st.write("""
##### How distribution of price varies depending on transmission, cylinders, type, and condition""")

list_for_hist=['transmission','cylinders','type','condition']
choice_for_hist=st.selectbox('split for price distribution', list_for_hist)

fig = px.histogram(df, x='price', color=choice_for_hist)

fig.update_layout(
title='<b> Split of price by {} </b>'.format(choice_for_hist))
st.plotly_chart(fig)

df['age']=2023-df['model_year']
def age_category(x):
    if x<5: return '<5'
    elif x>=5 and x<10: return '5-10'
    elif x>=10 and x<20: return '10-20'
    else: return '>20'

df['age_category'] = df['age'].apply(age_category)


st.write("""
##### How distribution of price varies depending on odometer and number of days listed""")
list_for_scatter=['odometer','days_listed']
choice_for_scatter=st.selectbox('split for price distribution', list_for_scatter)

fig2 = px.scatter(df, x='price', y = choice_for_scatter, color = 'age_category')
st.plotly_chart(fig2)